.expense-content-container {
	display: grid;
	grid-template-rows: min-content calc(100vh - 280px);
	gap: 0.2rem;
	min-height: 100%;
}
.expense-top-cards {
	display: grid;
	grid-template-columns: repeat(4, minmax(280px, 1fr));
	grid-template-rows: 180px;
	overflow-x: auto;
	gap: 0.5rem;
	padding-block: 0.5rem;
}
