.dashboard-content-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding-block: 1rem;
	height: calc(100% - 10px);
}

@media (width > 768px) {
	.dashboard-content-container {
		padding-block: 1.4rem;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 2fr;
		gap: 0.5rem;
		grid-template-areas:
			'income control'
			'recent recap';
	}
	.income-managment {
		grid-area: income;
	}
	.budget-control {
		grid-area: control;
	}
	.recent-transaction {
		grid-area: recent;
	}
	.expense-recap {
		grid-area: recap;
	}
}
