.income-category-card {
	display: flex;
	flex-direction: column;
	border-left: 1px dotted var(--clr-border);
	height: 100%;
	padding: 0.2rem;
	min-width: 20%;
}
.income-category-card > p {
	color: var(--clr-text-secondary);
	font-size: var(--font-size-sm);
}
.percentage-width {
	height: 1rem;
	border-radius: var(--border-radius-1);
	width: 100%;
	margin-top: auto;
}
