.stripe-container {
	display: flex;
	width: 100%;
	max-width: 100%;
	gap: 0.2rem;
	height: 20px;
	margin-block: 0.5rem;
}

.stripe-bar {
	flex-shrink: 0;
	width: 3px;
	height: 100%;
	background-color: var(--clr-bg-main);
	border-radius: 2px;
}

.filled.success {
	background-color: var(--clr-success);
}

.filled.warning {
	background-color: var(--clr-warning);
}

.filled.danger {
	background-color: var(--clr-danger);
}

@media (width > 1280px) {
	.stripe-container {
		height: 28px;
	}
	.stripe-bar {
		width: 4px;
	}
}

@media (width > 1440) {
	.stripe-bar {
		width: 6px;
	}
}
