.income-modal-header {
	margin-bottom: 0.5rem;
	text-align: center;
}
.income-modal-body {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
#addIncome,
#partTime,
#paycheck,
#gift {
	width: 100%;
}
.income-modal-body label {
	color: var(--clr-text-secondary);
}
.income-modal-footer {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}
.income-cards-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.income-transaction-card {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: var(--clr-bg-card);
	border: 1px solid var(--clr-border);
	border-radius: var(--border-radius-2);
	padding: 0.5rem;
}
.income-transaction-card > div {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}
.income-transaction-date,
.income-transaction-time {
	margin-right: auto;
}
