.sidebar-container {
	border-right: 1px solid var(--clr-border);
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar-card-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-block: 1.2rem;
}
.sidebar-card-container > .top-items,
.bottom-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}
