.sidebar-container {
	border-right: 1px solid var(--clr-border);
	min-height: 100vh;
	transition: max-width 0.3s ease;
}
.sidebar-open {
	max-width: 25vw;
}
.sidebar-close {
	max-width: 90.325px;
}
.sidebar-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;
	border-bottom: 1px solid var(--clr-border);
	padding-bottom: 1.2rem;
}
